@charset "utf-8";

@font-face {
		font-family: 'Frutiger LT Arabic 45';
		src: url('../fonts/FrutigerLTArabic-45Light.eot');
		src: url('../fonts/FrutigerLTArabic-45Light.eot?#iefix') format('embedded-opentype'),
		    url('../fonts/FrutigerLTArabic-45Light.woff2') format('woff2'),
		    url('../fonts/FrutigerLTArabic-45Light.woff') format('woff'),
		    url('../fonts/FrutigerLTArabic-45Light.ttf') format('truetype'),
		    url('../fonts/FrutigerLTArabic-45Light.svg#FrutigerLTArabic-45Light') format('svg');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
}

@font-face {
	  font-family: 'Frutiger LT Arabic 55 Roman';
	  src: url('../fonts/FrutigerLTArabic-55Roman.eot');
	  src: url('../fonts/FrutigerLTArabic-55Roman.eot?#iefix') format('embedded-opentype'),
	      url('../fonts/FrutigerLTArabic-55Roman.woff2') format('woff2'),
	      url('../fonts/FrutigerLTArabic-55Roman.woff') format('woff'),
	      url('../fonts/FrutigerLTArabic-55Roman.ttf') format('truetype'),
	      url('../fonts/FrutigerLTArabic-55Roman.svg#FrutigerLTArabic-55Roman') format('svg');
	  font-weight: normal;
	  font-style: normal;
	  font-display: swap;
}


/* TYPOGRAPHY -------------- */
body {
	margin:0; padding:0;
	font-size:13px; color: #111; font-weight:400;
  font-family: 'Frutiger LT Arabic 45';
}
p { font-family: 'Frutiger LT Arabic 45';}
h1, h2, h3 { font-family: 'Frutiger LT Arabic 45'; font-weight: 300; }
h1 { 
	margin:0; padding:0;
	font-size:2.6em; color:#ce132d; }
h2 { 
	margin:0 0 15px; padding:0;
	font-size:2.1em; color:#ce132d; }
h3 { 
  margin:0 0 10px; padding:0; font-weight:400;
  font-size:1.8em; color:#222; }
h4 { 
  margin:0 0 10px; padding:0; font-weight:400;
  font-size:1.6em; color:#111; }





.title{ width:100%; float:left; margin:0 0 30px; padding:0; }
.title h2 { width:100%; float:left; text-align:center; }

.titleborder { 
	width: 100%; float: left; text-align: center; }
.titleborder:after {
	margin:0 2px; padding:0;
	z-index:1; content:''; vertical-align: top;
	display: inline-block; width:3px; height:15px; background:#586b79; }
.titleborder:before { 
	margin:0 2px; padding:0;
	z-index:1; content:'';  vertical-align: top;
	display: inline-block; width:3px; height:30px; background:#586b79; }

p { 
	font-size: 1rem;
	line-height: 1.2rem; }
a { text-decoration: underline; color:#ce132d; }
a.noline { text-decoration: none; }
a:hover { color:#ce132d; } 
 
a.button,
a.border-button, 
a.readmore,
a.backtolink,
a.call-button {
	font-family: 'Roboto', sans-serif; line-height:1em;
}

a.readmore { 
	text-decoration: none; position: relative; padding-left:15px;
	color:#000; }
a.readmore::before {
	position: absolute; left:0;
	content: '\f101'; font-weight: 900;
	font-family: "Font Awesome 5 Free";
	color: #2d2d2d;
}
a.readmore:hover { color: #2d2d2d; }

a.backtolink {
	text-decoration: none; position: relative; 
	padding-left:20px; text-transform:capitalize;
	color:#000;
}
a.backtolink::before {
	position: absolute; left:0; top:3px;
	content: '\f30a'; font-weight: 900;
	font-family: "Font Awesome 5 Free";
	color: #2d2d2d;
}
a.backtolink:hover { color: #2d2d2d; }

a.button {
	display: inline-block;
	padding:12px 25px; margin:0; min-width:110px;
	color:#fff; font-weight: 700; text-decoration: none; 
	text-align:center; text-transform:capitalize;
	background:#ce132d; outline:none;
	border:2px solid #ce132d; border-radius: 3px;
}a.button:hover { background:#a21e31; color:#fff; }
a.choose-button { margin:20px 0 0;padding:8px 40px; width:100%; max-width:400px; text-align: center; line-height:20px; border-radius: 8px; font-size: 1.3em; }
a.choose-button span { display: inline-block; vertical-align: middle; margin:0 10px 0 0; }
a.choose-button img { display: inline-block; vertical-align: middle; height:30px; }
a.border-button {
	display: inline-block;
	padding:12px 20px; margin:0; min-width:110px;
	color:#ce132d; font-weight: 700; text-decoration: none; 
	text-align:center; text-transform:capitalize;
	background:#fff; outline:none;
	border:2px solid #ce132d; 
}a.border-button:hover { 
	background:#ce132d; border-color:#ce132d; color:#fff; }

a.call-button {
	display: inline-block;
	padding: 10px 20px; margin:0;
	background:none; font-size:1.1em;
	color:#fff; font-weight: 500; text-decoration: none; 
	text-align:center; text-transform:capitalize;
	border-radius: 30px; -webkit-border-radius: 30px; 
	-moz-border-radius: 30px; border:1px solid #2d2d2d;
	border:2px solid #fff;
}
/* IMAGE -----------*/
img { max-width: 100%; }
a img { border: none; outline: none; }
.index-dummy-img {
	width:100%; max-width:500px; height: 200px; 
	object-fit: cover; object-position: center;
}

/* font alignment ------*/
.text-upper { text-transform: uppercase; }
.text-capital { text-transform: capitalize; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }
.text-center img { float:none; display: inline-block; }
.text-noline { text-decoration: none; }
.text-uline { text-decoration: underline; }

.font-7 { font-weight: 700 }
.font-6 { font-weight: 600; }
.font-5 { font-weight: 500; }
.font-4 { font-weight: 400; }

/* blocks and alignment -*/
.fl-left {float:left;}
.fl-right { float:right; }

.section, .full-block { width:100%; float:left; }
.default-page { width: 100%; float: left; clear: both; padding:0; }
.d-none { display: none; }
.d-inline { display:inline; }
.d-block { display:block; }
.d-inblock { display:inline-block; }

.block-show {opacity:1; }
.block-hide {opacity:0; }

.full-width{ width:100%; }

.opacity1 { opacity: 0.1; }.opacity2 { opacity: 0.2; }
.opacity3 { opacity: 0.3; }.opacity4 { opacity: 0.4; }
.opacity5 { opacity: 0.5; }.opacity6 { opacity: 0.6; }
.opacity7 { opacity: 0.7; }.opacity8 { opacity: 0.8; }
.opacity9 { opacity: 0.9; }

/* LISTING ---------*/
ul, ol {}
ul li, ol li {
	position: relative;
	margin:0 0 10px; padding:0 0 0 20px;
}
ul li a, ol li a { text-decoration: underline; }

ul.nostyle {
	list-style: none; margin:0; padding:0;
}ul.nostyle li {  }

ul.circle-checklist,
ul.arrowlist {
	list-style: none; margin:0 0 20px; padding:0;
}
ul.circle-checklist li,
ul.arrowlist li {
	position: relative;
	margin:0 0 10px; padding:0 0 0 20px;
}
ul.circle-checklist li::before {
	position: absolute; left: 0; top:0;
	content: "\f058"; color:#2d2d2d;
	font-family: "Font Awesome 5 Free"; font-weight:500;
}
ul.circle-checklist li a,
ul.arrowlist li a  { 
	text-decoration: none; }


ul.arrowlist li::before {
	position: absolute; left: 0; top:0;
	content: "\f105"; color:#2d2d2d;
	font-family: "Font Awesome 5 Free"; font-weight:700;
}
ul.arrowlist li a {}


/* SOCIAL MEDIA ---*/
.social-menu { 
	float:left; }
.social-menu ul { 
	float:left; list-style: none; 
	margin:0; padding:0; }
.social-menu ul li { margin:0 5px; padding:0; float:left; }
.social-menu ul li a { 
    width:22px; height:22px;
    display: block; margin:0; padding:0;
    text-align: center;
    background: none !important;
}.social-menu ul li a img { width:100%; background:none; }
.social-menu ul li a:hover {  }


/* SPACING -------- */
.mcenter{ margin-left: auto; margin-right: auto; }
.m-0p { margin:0; }.m-10p {margin:10px;}.m-20p {margin:20px;}.m-30p {margin:30px;}.m-40p {margin:40px;}.m-50p {margin:50px;}.m-60p {margin:60px;}
.mt-0p{margin-top:0;}.mt-10p {margin-top:10px;}.mt-20p {margin-top:20px;}.mt-30p {margin-top:30px;}.mt-40p {margin-top:40px;}.mt-50p {margin-top:50px;}.mt-60p {margin-top:60px;}
.mb-0p{margin-bottom:0;}.mb-10p {margin-bottom:10px;}.mb-20p {margin-bottom:20px;}.mb-30p {margin-bottom:30px;}.mb-40p {margin-bottom:40px;}.mb-50p {margin-bottom:50px;}.mb-60p {margin-bottom:60px;}
.ml-0p{margin-left:0;}.ml-10p {margin-left:10px;}.ml-20p {margin-left:20px;}.ml-30p {margin-left:30px;}.ml-40p {margin-left:40px;}.ml-50p {margin-left:50px;}.ml-60p {margin-left:60px;}
.mr-0p{margin-right:0;}.mr-10p {margin-right:10px;}.mr-20p {margin-right:20px;}.mr-30p {margin-right:30px;}.mr-40p {margin-right:40px;}.mr-50p {margin-right:50px;}.mr-60p {margin-right:60px;}
.mrl-0p {margin-left:0; margin-right:0;}.mrl-10p {margin-left:10px; margin-right:10px;}.mrl-20p {margin-left:20px; margin-right:20px;}.mrl-30p {margin-left:30px; margin-right:30px;}.mrl-40p {margin-left:40px; margin-right:40px;}.mrl-50p {margin-left:50px; margin-right:50px;}.mrl-60p {margin-left:60px; margin-right:60px;}
.mtb-0p {margin-top:0; margin-bottom:0;}.mtb-10p {margin-top:10px; margin-bottom:10px;}.mtb-20p {margin-top:20px; margin-bottom:20px;}.mtb-30p {margin-top:30px; margin-bottom:30px;}.mtb-40p {margin-top:40px; margin-bottom:40px;}.mtb-50p {margin-top:50px; margin-bottom:50px;}.mtb-60p {margin-top:60px; margin-bottom:60px;}

.p-0p {padding:0; }.p-10p {padding:10px;}.p-20p {padding:20px;}.p-30p {padding:30px;}.p-40p {padding:40px;}.p-50p {padding:50px;}.p-60p {padding:60px;}
.pt-0p {padding-top:0px; }.pt-10p {padding-top:10px;}.pt-20p {padding-top:20px;}.pt-30p {padding-top:30px;}.pt-40p {padding-top:40px;}.pt-50p {padding-top:50px;}.pt-60p {padding-top:60px;}
.pb-0p {padding-bottom:0px; }.pb-10p {padding-bottom:10px;}.pb-20p {padding-bottom:20px;}.pb-30p {padding-bottom:30px;}.pb-40p {padding-bottom:40px;}.pb-50p {padding-bottom:50px;}.pb-60p {padding-bottom:60px;}
.pl-0p {padding-left:0px; }.pl-10p {padding-left:10px;}.pl-20p {padding-left:20px;}.pl-30p {padding-left:30px;}.pl-40p {padding-left:40px;}.pl-50p {padding-left:50px;}.pl-60p {padding-left:60px;}
.pr-0p {padding-right:0px; }.pr-10p {padding-right:10px;}.pr-20p {padding-right:20px;}.pr-30p {padding-right:30px;}.pr-40p {padding-right:40px;}.pr-50p {padding-right:50px;}.pr-60p {padding-right:60px;}
.prl-0p {padding-left:0;padding-right:0;}.prl-10p {padding-left:10px;padding-right:10px;}.prl-20p {padding-left:20px;padding-right:20px;}.prl-30p {padding-left:30px;padding-right:30px;}.prl-40p {padding-left:40px;padding-right:40px;}.prl-50p {padding-left:50px;padding-right:50px;}.prl-60p {padding-left:60px;padding-right:60px;}
.ptb-0p {padding-top:0;padding-bottom:0;}.ptb-10p {padding-top:10px;padding-bottom:10px;}.ptb-20p {padding-top:20px;padding-bottom:20px;}.ptb-30p {padding-top:30px;padding-bottom:30px;}.ptb-40p {padding-top:40px;padding-bottom:40px;}.ptb-50p {padding-top:50px;padding-bottom:50px;}.ptb-60p {padding-top:60px;padding-bottom:60px;}


/* FORM CONTENT ----------*/
input:focus { outline:1px solid #00000015; }
textarea:focus { outline:1px solid #00000015; }
input[type="text"], input[type="tel"], input[type="number"],input[type="password"],
input[type="date"], input[type="datetime-local"], input[type="email"], 
textarea, select, option {
	color:#6a6e89; font-size:1em;
	background:#fff; border:2px solid #ccc;
	border-radius: 4px; 
	-webkit-border-radius: 4px; -moz-border-radius: 4px;
}

input[type="text"], input[type="tel"], input[type="number"],input[type="password"],
input[type="date"], input[type="datetime-local"], input[type="email"] { 
	width:100%; height:48px; padding:10px; margin:0 0 15px; border-radius:6px;
}
input[type="date"] {
	
}
input[type="date"], input[type="datetime-local"] {
	padding-left:25px;
	background:url('../images/form-calendar.svg') 8px 16px no-repeat;
	background-size:15px;
}


input[type="number"] {
	max-width: 130px;
}
input[type="file"]{ font-size:0.9rem; color:#999; }
label.uploadfileinfo { width:100%;float:left;clear:both;margin:0 0 10px; font-size:0.9rem; color:#333; }
select {
	width:100%; height: 48px; padding:10px; margin:0 0 15px; border-radius:6px;
}
textarea { 
	width:100%; height: 150px; padding:10px; margin:0 0 15px;
	resize:none; outline: none;
}
input[type="submit"],
input[type="button"],
button.submitButton { 
	cursor: pointer; padding:0 20px; min-height: 40px;
	font-size:1.2em; width:100%; min-width: 100px; 
	color:#fff; text-transform:uppercase;
	background:#ce132d; border:2px solid #ce132d; border-radius: 3px; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px;
}
input[type="submit"]:hover,
input[type="button"]:hover { 
	 }


/* HEADER ICONS LISTING -----*/
.quick-call { 
	float:right; padding:0; display:inline-block;  position:relative; }
.quick-call img { 
	float:right; width:30px; 
  position:absolute; right:10px; top:10px; }
.quick-call a {
	float:right; text-transform:none !important; 
	display: inline-block; 
	padding:0; margin:0 20px 0px 0; text-decoration: none; 
	font-size:1.1em; 
	color:#333 !important;
	
}.quick-call a:hover { color:#333 !important; }
.quick-call a span { color:#333; font-size:1em; margin-left:5px; text-transform:none !important; }

.header .social-menu { float: right; }
.header .social-menu a { color:#333; width:26px; height:28px; line-height:28px; }


/*  MENU  ----------*/
.menu-area-container { 
	background:#fff; }
.menu-area { 
	width: 100%; float:left; transition: height 1s; }
.top-menu { 
	width:100%; float:left; 
	padding:0; margin:0; text-align: center; }
.top-menu a {
	font-size:17px; 
	text-decoration: none; color:#fff; font-weight:500; }
.top-menu a:hover { color:#fff; }
.top-menu a.activemenu, .current-menu-item a { 
	color:#fff; }
	

.top-menu ul {
	float: right; display: inline-block; 
	margin:20px 0 0; padding:0;
	list-style: none;
}
.top-menu ul li {
	clear:none; margin:0; padding:5px 0px;
	float:left; position: relative;
	border: none; line-height: 1em;
}
.top-menu ul li a { 
	text-transform: uppercase;
	padding:0px 2px 2px; margin:0 18px;
	line-height:0.8em; display: inline-block;
}.top-menu ul li:last-child a { margin-right:0; padding-right:0;}
.top-menu ul li a:hover {  }
.top-menu ul li a:focus { border: none; outline: none; }
.top-menu ul li ul { padding:5px 0; }
.top-menu ul li ul li a { text-transform:none; }
.top-menu ul li ul li a:hover { background:#eee; }


/* DROP DOWN MENU  -*/
.top-menu .sub-menu { display: none; }
.top-menu ul li.menu-item-has-children { cursor: pointer; }
.top-menu ul li.menu-item-has-children a { padding-right: 30px; }

ul.sub-menu { 
	width: 180px; position: absolute; left:0px; top:35px; z-index: 2001;
	margin:0; padding:0;
  background:#f9f9f9; border-radius: 3px; }
ul.sub-menu li { 
	width:100%; float:left; clear:both; 
	margin:0; padding:0; border-bottom:1px solid #eee; }
ul.sub-menu li a {
	width:100%; float:left; clear:both; text-transform: capitalize;
	margin:0; padding:8px 10px !important; min-height: auto; text-indent:3px;
	text-align: left; color:#0b1c24; font-size:0.85rem !important; font-weight: 400; }
ul.sub-menu li a:hover {color:#2d2d2d;}
ul.sub-menu li:last-child { border:none; }

.top-menu .drop-down-icon {
	position:absolute; right:20px; top:15px; display:inline-block;
	width:20px; height:20px; line-height:20px;
	text-align:center; cursor: pointer;
	z-index:2001;
}
.drop-down-icon i { line-height: 20px; color:#333; }
.submenuactive .drop-down-icon i { color:#ce132d ; }

.top-menu .submenu-active { display: block; }

.menu-button { 
	display: none;  
	cursor: pointer; float: left; 
	display:none; width:35px; height:35px; 
	margin:0; padding:0;
	background:#fff; text-align: center;
	border:1px solid #fff; border-radius:3px;
	-webkit-border-radius:3px; -moz-border-radius:3px;
}
.menu-button img { width:20px; max-width:100%; margin:6px 0 0 0; padding:0; }
.menu-close {
	display: none; background:none;
	width:30px; height:30px;
	position: absolute; top:18px; right:20px;
	text-align: center; line-height: 30px;
	font-size:1.1em; color:#d20001; cursor: pointer;
	border-radius: 30px; -webkit-border-radius: 30px; 
	-moz-border-radius: 30px; /*border:1px solid #3a88fa;*/
}
@media (max-width: 991px) { 
	.menu-button { display: block;}
	.menu-close { display: block; }
	.menu-area { 
		height:100vh; overflow:hidden;
		width:100%; transition:all 1s;
		position: fixed; top:0; right:-100vw; z-index: 2001;
		background:rgba(0,0,0,0.9); }
	.menu-area .top-menu { margin:15% 0; }
	.menu-area ul { margin:0; padding:0; position:relative; right:-150vw; transition:all 1s; }
	.menu-area ul li { 
	  width:100%; float:left; text-align: center; margin:10px 0 20px; padding:0; }
	.menu-area ul li a { 
		font-size:1.4em; color:#fff; }
	.menu-area ul li a:hover { color:#333; }

	.menu-area .social-menu { width:100%; float:left; margin-top:20px; text-align: center; }
	.menu-area .social-menu ul { float:none !important; display: inline-block; }
	.menu-area .social-menu ul li {
		width: 40px !important; display: inline-block !important;
	}
	.menu-area .social-menu ul li a  { 
		font-size:2em; 
		width:35px !important; height: 35px; display: inline-block;
		margin:0 5px; padding:0; text-align: center; }
	.top-menu .drop-down-icon {
		width:30px; height:34px; 
		line-height: 34px; color:#fff;
		right:10px; top:0; background:#737373; }
	.top-menu .sub-menu { width:100%; margin:5px auto 10px auto; float:none; padding:0; clear:both; position:relative; top:0; left:0; }
	.top-menu .sub-menu li { padding:0; padding:0; }
	.sub-menu {}
	.top-menu { text-align: center; }
	.top-menu ul { width:100%; }
	.menu-area .top-phonecall { display: none; }
	.menu-area .quick-quote { display: none; }
	 
}
@media (max-width: 767px) { 
    
}
@media (max-width:575px) { 
	.menu-button { /*position:fixed; right:40px; top:30px;*/ }
	.menu-area { top: auto; bottom:0; }
}
@media (max-width:360px) {
	
}

/* menus script ---*/
.menu-active { 
	right:0vw; display: block; overflow-y:scroll; }
.menu-active ul { right:0vw; }



/* OWL CAROUSEL ---------- */
/*.owl-carousel .owl-nav {
	/*position: absolute; top:0px; right:0; z-index: 2001; ////
}
.owl-carousel .owl-nav div {
	width:40px; height:40px; line-height:40px;
	margin:0; padding:0; float: left;
	color:#fff; text-align:center; font-size:1.4em;
	background: #2d2d2d; } */

.owl-carousel .owl-nav {
	/* position: absolute; top:35%; right:0; z-index: 2001; */
}
.owl-carousel .owl-nav div {
	background:#fff; border-radius:35px;
	margin:0; padding:0; float: left;
	color:#fff; text-align:center; font-size:17px; 	}
.owl-carousel .owl-nav div i {  
	text-align: center;
	width:35px; height:35px; line-height:35px; background: #00000020; border-radius:35px;  }


.owl-carousel .owl-nav div.owl-next { position: absolute; top:25%; right:-20px; }
.owl-carousel .owl-nav div.owl-prev { position: absolute; top:25%; left:-20px;  }
.owl-carousel .owl-nav div i:hover {background: #ce132d50; }



@media(max-width:767px){
	.owl-carousel .owl-nav { display: none; }
}




.owl-carousel .owl-dots {
	margin:0 0 10px;
	text-align: center; }
.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
	width:8px; height: 8px;
	margin:0 2px; padding:0;
	background: #333; border-radius:10px;
	-webkit-border-radius:10px; -moz-border-radius:10px; }
.owl-carousel .owl-dots .owl-dot.active {
	background:#1568b2; }
.next-slide, .prev-slide { cursor: pointer; }


.customnav { display: block; text-align: center; }
.customnav ul { list-style: none; margin:0; padding:0; }
.customnav ul li { 
	display: inline-block; cursor: pointer;
	width: 30px; height: 30px; line-height: 30px; 
	text-align: center; font-size:1.2em;
	background:#2d2d2d; color:#fff; }
